<div class="card text-center rounded-0">
    {% comment %} <div class="card-header">
        Información que te interesara
    </div> {% endcomment %}
    <div class="card-body">
        <h5 class="card-title">Recuerda leer nuestros términos y condiciones 😉</h5>
        <a href="https://wa.me/34677965014/?text=Hola%20escribo%20desde%20MyStock" target="_blank"
            class="btn btn-teal btn-sm">Contacto Whatsapp Soporte</a>
        <a href="{% url 'terminos_condiciones' %}" class="btn btn-teal btn-sm">Términos y Condiciones</a>
        <a href="{% url 'politica_cookies' %}" class="btn btn-teal btn-sm">Poítica de Cookies</a>
    </div>

    <div class="card-footer text-body-secondary">
        © 2025 MyStock — Desarrollado por Alberto José Rodríguez Contreras<br>
        Esta es una aplicación de prueba todos los datos que ingresen seran bajo su responsabilidad
    </div>
</div>